<%= form_for(utilisateur) do |f| %>
  <% if utilisateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utilisateur.errors.count, "error") %> prohibited this utilisateur from being saved:</h2>

      <ul>
      <% utilisateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
  </div>

  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :numAddress %>
    <%= f.text_field :numAddress %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :isActive %>
    <%= f.check_box :isActive %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
