<%= simple_form_for(@utilisateur) do |f| %>
  <% if utilisateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utilisateur.errors.count, "error") %> empêche l'enregistrement des informations :</h2>

      <ul>
      <% utilisateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :pseudo, label: 'Pseudo', class: 'form-control' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :firstName, label: 'Prénom', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :lastName, label: 'Nom', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :numAddress, label: 'Numéro de rue', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :address, label: 'Adresse', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :city, label: 'Ville', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :phone, label: 'Téléphone', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :email, label: 'Email', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :isActive, label: 'Actif', class: 'form-control' %>
      </p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Valider', class: 'btn btn-success text-uppercase' %>
    <%= link_to 'Retour', utilisateurs_path, class:'btn btn-primary' %>
  </div>
<% end %>
