<p>
  <strong>Prénom : </strong>
  <%= @utilisateur.firstName %>
</p>

<p>
  <strong>Nom : </strong>
  <%= @utilisateur.lastName %>
</p>

<p>
  <strong>Adresse : </strong>
  <%= @utilisateur.numAddress %> <%= @utilisateur.address %>
  <%= @utilisateur.city %>
</p>

<p>
  <strong>Téléphone : </strong>
  <%= @utilisateur.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilisateur.email %>
</p>

<p>
  <strong>Statut : </strong>
  <%= @utilisateur.isActive %>
</p>

<%= link_to 'Modifier', edit_utilisateur_path(@utilisateur), class:'btn btn-warning' %>
<%= link_to 'Retour', utilisateurs_path,class:'btn btn-primary' %>
