<div class="col-md-6 col-md-offset-2">
  <section>

<div class="col-md-6">
<% if @event.avatar.exists? %>
  <div style="text-align: center; margin-top:20px;">
    <%= image_tag @event.avatar.url(:medium) %>
  </div>
<% end %>
</div>
<div class="col-md-6">
<h2> Détails de l'évènement </h2>
<p>
  <strong>Nom :</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date de début :</strong>
  <%= date_format(@event.startDate) %>
</p>

<p>
  <strong>Date de fin :</strong>
  <%= date_format(@event.endDate) %>
</p>

<p>
  <strong>Lieu :</strong>
  <%= @event.place%>
</p>

<p>
  <strong>Tarif :</strong>
  <%= @event.rate %>€
</p>

<p>
  <strong>Participants :</strong>
  <%= render partial: 'utilisateurs_list', locals:{event: @event} %>
</p>
<% if can? :update, @event %>
<%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-warning' %>
<% end %>
<%= link_to 'Retour', events_path, class: 'btn btn-primary' %>
</div>

<% if !@event.utilisateurs.empty? %>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
    </thead>
    <%= @event.utilisateurs.each do |util| %>
    <tbody>
        <tr>
            <td><% util.name %></td>
            <td>Row 1 Data 2</td>
        </tr>
    </tbody>
    <% end %>
</table>
<% end %>
</section>
