<p id="notice"><%= notice %></p>

<h1>Vroumies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vroumies.each do |vroumy| %>
      <tr>
        <td><%= vroumy.name %></td>
        <td><%= link_to 'Show', vroumy %></td>
        <td><%= link_to 'Edit', edit_vroumy_path(vroumy) %></td>
        <td><%= link_to 'Destroy', vroumy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vroumy', new_vroumy_path %>
