<p id="notice"><%= notice %></p>

<h1>Liste des voitures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Couleur</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voitures.each do |voiture| %>
      <tr>
        <td><%= voiture.couleur %></td>
        <td><%= voiture.description %></td>
        <td><%= link_to 'Show', voiture, class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_voiture_path(voiture), class:'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', voiture, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter une voiture', new_voiture_path, class:'btn btn-success' %>
