<section class="second_section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-2">
				<%= render partial: 'pictures', locals:{voiture: @voiture} %>
			</div>
			<div class="col-sm-4">
				<% if current_utilisateur.id == @voiture.utilisateur_id %>
					<h1>Description de votre véhicule </h1>
				<% else %>
					<h1>Description du véhicule </h1>
				<% end %>
				<p>
					<strong>Nom : </strong>
					<%= @voiture.name %>
				</p>

				<p>
					<strong>Couleur : </strong>
					<%= @voiture.couleur %>
				</p>

				<p>
					<strong>Description : </strong>
					<%= @voiture.description %>
				</p>

				<p>
					<strong>Constructeur : </strong>
					<%= empty_field_name(@voiture.modele.constructeur) %>
				</p>

				<p>
					<strong>Modèle : </strong>
					<%= @voiture.modele.name %>
				</p>
				<p>
					<strong>Date de mise en circulation : </strong>
					<%= short_date_format(@voiture.release) %>
				</p>
				<% if current_utilisateur.id == @voiture.utilisateur_id %>
					<%= link_to 'Modifier', edit_voiture_path(@voiture), class:'btn btn-warning' %>
				<% end %>
			</div>
		</div>
	</div>
</section>
