<div class="col-md-6 col-md-offset-3">
  <section class="second_section design_form">
	    <h1>Description de votre voiture </h1>
		<p>
		    <strong>Nom : </strong>
		    <%= @voiture.name %>
		</p>

		<p>
		    <strong>Couleur : </strong>
		    <%= @voiture.couleur %>
		</p>

		<p>
		    <strong>Description : </strong>
		    <%= @voiture.description %>
		</p>

		<p>
			<strong>Constructeur : </strong>
			<%= @voiture.modele.constructeur.name %>
		</p>

		<p>
			<strong>Modèle : </strong>
			<%= @voiture.modele.name %>
		</p>


		<%= link_to 'Modifier', edit_voiture_path(@voiture), class:'btn btn-warning'%>
		<%= link_to 'Retour', voitures_path, class:'btn btn-primary' %>
	</section>
</div>
